server:
  port: 8087

spring:
  application:
    name: AI-SERVICE

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost

jwt:
  secret: MYSUPERSECRETKEY256BITSMINIMUMFORJWT=====

ai:
  python:
    base-url: http://localhost:8000
